.div359 {
  width: 107px;
  position: relative;
  letter-spacing: -0.02px;
  display: inline-block;
  flex-shrink: 0;
}
.vector-icon5 {
  width: 11.2px;
  position: relative;
  height: 6.6px;
}
.component-12 {
  width: 150.1px;
  border-radius: var(--br-5xs);
  background-color: var(--neutral-1);
  border: 1px solid var(--input-form-completed);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-xs);
  gap: var(--gap-5xs);
}
.div360 {
  position: relative;
  line-height: 150%;
  font-weight: 500;
}
.select-item4 {
  width: 150px;
  background-color: var(--primary-main);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs) var(--padding-27xl) var(--padding-7xs)
    var(--padding-base);
  box-sizing: border-box;
}
.div361 {
  position: relative;
  line-height: 150%;
}
.date-and-time-dropdown,
.dropdown-menu1,
.select-item5 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.select-item5 {
  width: 150px;
  background-color: var(--neutral-1);
  flex-direction: row;
  padding: var(--padding-7xs) var(--padding-27xl) var(--padding-7xs)
    var(--padding-base);
  box-sizing: border-box;
  color: var(--dark-2);
}
.date-and-time-dropdown,
.dropdown-menu1 {
  flex-direction: column;
}
.dropdown-menu1 {
  width: 150.1px;
  border-radius: var(--br-5xs);
  background-color: var(--neutral-1);
  box-shadow: var(--dropdown-shadow1);
  overflow: hidden;
  font-size: var(--font-size-sm);
  color: var(--neutral-1);
}
.date-and-time-dropdown {
  position: relative;
  width: 100%;
  gap: var(--gap-9xs);
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--dark-11);
  font-family: var(--font-pretendard);
}
