.text68 {
  align-self: stretch;
  position: relative;
  line-height: 28px;
  font-weight: 600;
}
.content10,
.text-and-supporting-text5 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.text-and-supporting-text5 {
  flex: 1;
  flex-direction: column;
}
.content10 {
  align-self: stretch;
  background-color: var(--white1);
  flex-direction: row;
  padding: var(--padding-5xl) var(--padding-5xl) 0;
  z-index: 0;
}
.x-close-icon5 {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.button-close-x5 {
  margin: 0 !important;
  position: absolute;
  top: 12px;
  right: 12px;
  border-radius: var(--br-5xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  z-index: 1;
}
.padding-bottom5 {
  align-self: stretch;
  height: 20px;
  z-index: 2;
}
.modal-header-child {
  width: 801px;
  position: relative;
  border-top: 1px solid var(--input-form-default);
  box-sizing: border-box;
  height: 1px;
  z-index: 3;
}
.modal-header5 {
  align-self: stretch;
  background-color: var(--white1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  font-size: var(--font-size-lg);
}
.div931 {
  position: absolute;
  top: 0;
  left: -36px;
  font-weight: 500;
}
.frame-child33,
.wrapper29 {
  position: absolute;
  top: 15px;
  left: 52px;
  width: 56px;
  height: 19px;
}
.frame-child33 {
  top: 49.5px;
  left: -0.5px;
  border-top: 1px solid var(--white1);
  box-sizing: border-box;
  width: 161px;
  height: 1px;
}
.frame-parent8 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--table-bg);
  width: 160px;
  height: 50px;
  overflow: hidden;
}
.div932 {
  position: absolute;
  top: 16px;
  left: 16px;
  font-weight: 500;
}
.wrapper30 {
  position: absolute;
  top: 50px;
  left: 0;
  background-color: var(--table-bg);
  width: 160px;
  height: 50px;
  overflow: hidden;
}
.div933,
.must1 {
  position: absolute;
  top: 0;
}
.div933 {
  left: 0;
  font-weight: 500;
}
.must1 {
  left: 58px;
  border-radius: 50%;
  background-color: var(--input-form-error);
  width: 4px;
  height: 4px;
}
.group-div,
.group-parent {
  position: absolute;
  top: 16px;
  left: 16px;
  width: 62px;
  height: 19px;
}
.group-parent {
  top: 100px;
  left: 0;
  background-color: var(--table-bg);
  width: 160px;
  height: 50px;
  overflow: hidden;
}
.frame-child35 {
  position: absolute;
  top: 99.5px;
  left: -0.5px;
  border-top: 1px solid var(--white1);
  box-sizing: border-box;
  width: 161px;
  height: 1px;
}
.group-container {
  position: absolute;
  top: 150px;
  left: 0;
  background-color: var(--table-bg);
  width: 160px;
  height: 50px;
  overflow: hidden;
}
.abc111 {
  position: absolute;
  top: 16px;
  left: 180px;
  letter-spacing: -0.02px;
}
.div935 {
  width: 752px;
  position: relative;
  height: 49px;
}
.div937 {
  position: absolute;
  top: 17px;
  left: 180px;
  letter-spacing: -0.02px;
}
.div936 {
  width: 752px;
  position: relative;
  height: 50px;
}
.select12 {
  width: 239px;
  position: relative;
  letter-spacing: -0.02px;
  display: inline-block;
  flex-shrink: 0;
}
.vector-icon15 {
  width: 11.2px;
  position: relative;
  height: 6.6px;
}
.type-of-investment-dropdown {
  position: absolute;
  top: 6px;
  left: 168px;
  border-radius: var(--br-5xs);
  background-color: var(--white1);
  border: 1px solid var(--input-form-completed);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-xs);
  gap: var(--gap-5xs);
}
.div940 {
  position: relative;
  letter-spacing: -0.02px;
}
.dropdown-inpur-form-status65 {
  position: absolute;
  top: 6px;
  left: 168px;
  border-radius: var(--br-5xs);
  background-color: var(--light-3);
  border: 1px solid var(--input-form-default);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-xs);
}
.div939 {
  width: 752px;
  position: relative;
  height: 50px;
  color: var(--dark-1);
}
.parent8 {
  position: absolute;
  top: 1px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  font-size: var(--font-size-sm);
}
.line-child,
.line-inner,
.line-item {
  position: absolute;
  top: -0.5px;
  left: -0.5px;
  border-top: 1px solid var(--input-form-default);
  box-sizing: border-box;
  width: 593px;
  height: 1px;
}
.line-inner,
.line-item {
  top: 49.5px;
}
.line-inner {
  top: 99.5px;
}
.line {
  position: absolute;
  top: 50px;
  left: 160px;
  width: 592px;
  height: 100px;
}
.frame-parent7 {
  width: 752px;
  position: relative;
  background-color: var(--white1);
  border: 1px solid var(--input-form-default);
  box-sizing: border-box;
  height: 200px;
  overflow: hidden;
  flex-shrink: 0;
}
.jpg-jpeg-gif {
  margin-bottom: 0;
}
.jpg-jpeg-gif-png-pdf {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-mid);
}
.jpg-jpeg-gif-container {
  position: relative;
  font-size: var(--font-size-smi);
  letter-spacing: -0.02px;
  line-height: 19.5px;
}
.content11 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xl) var(--padding-5xl) 0;
  gap: var(--gap-5xs);
}
.divider-icon10 {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 1px;
  flex-shrink: 0;
}
.divider-wrap5 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-5xl);
}
.button43 {
  flex: 1;
  position: relative;
  font-weight: 600;
}
.component-212 {
  width: 160px;
  border-radius: var(--br-3xs);
  background-color: var(--primary-main);
  align-items: center;
  justify-content: center;
  padding: var(--padding-mid) var(--padding-base);
  box-sizing: border-box;
}
.component-2-parent2,
.component-212,
.component-213 {
  height: 44px;
  display: flex;
  flex-direction: row;
}
.component-213 {
  width: 160px;
  border-radius: var(--br-3xs);
  border: 1.5px solid var(--primary-main);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  padding: var(--padding-mid) var(--padding-base);
  color: var(--primary-main);
}
.component-2-parent2 {
  position: absolute;
  top: 0;
  left: 236px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.content12 {
  align-self: stretch;
  position: relative;
  height: 68px;
}
.modal-actions5,
.modal1 {
  display: flex;
  flex-direction: column;
}
.modal-actions5 {
  align-self: stretch;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-13xl) 0 0;
  text-align: center;
  color: var(--white1);
}
.modal1 {
  width: 100%;
  position: relative;
  border-radius: var(--br-xs);
  background-color: var(--white1);
  box-shadow: var(--shadow-xl);
  overflow: hidden;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--dark-11);
  font-family: var(--font-pretendard);
}
