.aaaaaaaabcnavercom,
.abc123,
.div479,
.div480 {
  position: absolute;
  top: 12px;
  left: 119px;
  letter-spacing: 0.03em;
  line-height: 18px;
  font-weight: 500;
}
.aaaaaaaabcnavercom,
.div479,
.div480 {
  left: 251px;
}
.aaaaaaaabcnavercom,
.div480 {
  left: 356px;
}
.aaaaaaaabcnavercom {
  left: 492px;
}
.div481 {
  position: absolute;
  top: 12px;
  left: 680px;
}
.div481,
.div482,
.u1jtxgaj5q72wn {
  letter-spacing: 0.03em;
  line-height: 18px;
  font-weight: 500;
}
.div482 {
  position: absolute;
  top: 12px;
  left: 739px;
}
.u1jtxgaj5q72wn {
  left: 818px;
}
.div483,
.div484,
.u1jtxgaj5q72wn {
  position: absolute;
  top: 12px;
}
.div483 {
  left: 988px;
  letter-spacing: 0.03em;
  line-height: 18px;
  font-weight: 500;
}
.div484 {
  left: 1097px;
}
.div484,
.div485,
.div486 {
  letter-spacing: 0.03em;
  line-height: 18px;
  font-weight: 500;
}
.div485 {
  position: absolute;
  top: 12px;
  left: 1185px;
}
.div486 {
  left: 1469px;
}
.checkbox67,
.div486,
.div487 {
  position: absolute;
  top: 12px;
}
.div487 {
  left: 58px;
  font-size: var(--font-size-sm);
  letter-spacing: 0.02em;
  line-height: 20px;
  font-weight: 500;
}
.checkbox67 {
  left: 12px;
  border-radius: var(--br-9xs);
  background-color: var(--shades-white);
  box-shadow: var(--check-box-shaodw);
  width: 16px;
  height: 16px;
  overflow: hidden;
}
.info {
  position: relative;
  letter-spacing: 0.03em;
  line-height: 18px;
  font-weight: 500;
}
.div488,
.div489,
.tag {
  position: absolute;
  top: 12px;
}
.tag {
  left: 1251px;
  border-radius: var(--br-3xs);
  background-color: var(--status-text-bg2);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-12xs) var(--padding-3xs);
  color: var(--status-text-waiting);
}
.div488,
.div489 {
  left: 1359px;
  letter-spacing: 0.03em;
  line-height: 18px;
  font-weight: 500;
}
.div489 {
  left: 1562px;
}
.customer64 {
  position: absolute;
  top: 497px;
  left: 0;
  background-color: var(--shades-white);
  width: 1695px;
  height: 44px;
  overflow: hidden;
}
.div498 {
  position: absolute;
  top: 12px;
  left: 57px;
  font-size: var(--font-size-sm);
  letter-spacing: 0.02em;
  line-height: 20px;
  font-weight: 500;
}
.customer65,
.customer66,
.customer67,
.customer68,
.customer69 {
  position: absolute;
  top: 585px;
  left: 0;
  background-color: var(--shades-white);
  width: 1695px;
  height: 44px;
  overflow: hidden;
}
.customer66,
.customer67,
.customer68,
.customer69 {
  top: 673px;
}
.customer67,
.customer68,
.customer69 {
  top: 761px;
}
.customer68,
.customer69 {
  top: 849px;
}
.customer69 {
  top: 937px;
}
.div553 {
  position: absolute;
  top: 12px;
  left: 56px;
  font-size: var(--font-size-sm);
  letter-spacing: 0.02em;
  line-height: 20px;
  font-weight: 500;
}
.customer70,
.customer71,
.customer72,
.customer73,
.customer74 {
  position: absolute;
  top: 1025px;
  left: 0;
  background-color: var(--shades-white);
  width: 1695px;
  height: 44px;
  overflow: hidden;
}
.customer71,
.customer72,
.customer73,
.customer74 {
  top: 1113px;
}
.customer72,
.customer73,
.customer74 {
  top: 1201px;
}
.customer73,
.customer74 {
  top: 1289px;
}
.customer74 {
  top: 1377px;
}
.div608 {
  position: absolute;
  top: 12px;
  left: 55px;
  font-size: var(--font-size-sm);
  letter-spacing: 0.02em;
  line-height: 20px;
  font-weight: 500;
}
.customer75,
.customer76,
.customer77,
.customer78,
.customer79,
.customer80,
.customer81,
.customer82,
.customer83 {
  position: absolute;
  top: 1465px;
  left: 0;
  background-color: var(--shades-white);
  width: 1695px;
  height: 44px;
  overflow: hidden;
}
.customer76,
.customer77,
.customer78,
.customer79,
.customer80,
.customer81,
.customer82,
.customer83 {
  top: 1553px;
}
.customer77,
.customer78,
.customer79,
.customer80,
.customer81,
.customer82,
.customer83 {
  top: 1641px;
}
.customer78,
.customer79,
.customer80,
.customer81,
.customer82,
.customer83 {
  top: 1729px;
}
.customer79,
.customer80,
.customer81,
.customer82,
.customer83 {
  top: 1817px;
}
.customer80,
.customer81,
.customer82,
.customer83 {
  top: 1905px;
}
.customer81,
.customer82,
.customer83 {
  top: 1993px;
}
.customer82,
.customer83 {
  top: 2081px;
}
.customer83 {
  top: 2169px;
}
.cz4391f9ewm6ov,
.div703 {
  letter-spacing: 0.03em;
  line-height: 18px;
  font-weight: 500;
}
.cz4391f9ewm6ov {
  position: absolute;
  top: 12px;
  left: 815px;
}
.div703 {
  left: 991px;
}
.div703,
.div706,
.tag20 {
  position: absolute;
  top: 12px;
}
.div706 {
  left: 1453px;
  letter-spacing: 0.03em;
  line-height: 18px;
  font-weight: 500;
}
.tag20 {
  left: 1251px;
  border-radius: var(--br-3xs);
  background-color: var(--status-text-bg3);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-12xs) var(--padding-3xs);
  color: var(--status-text-refusal);
}
.customer84 {
  position: absolute;
  top: 541px;
  left: 0;
  background-color: var(--table-bg);
  width: 1695px;
  height: 44px;
  overflow: hidden;
}
.tag22 {
  position: absolute;
  top: 12px;
  left: 1251px;
  border-radius: var(--br-3xs);
  background-color: var(--status-text-bg1);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-12xs) var(--padding-3xs);
  color: var(--status-text-approval);
}
.customer85,
.customer86 {
  position: absolute;
  top: 629px;
  left: 0;
  background-color: var(--table-bg);
  width: 1695px;
  height: 44px;
  overflow: hidden;
}
.customer86 {
  top: 717px;
}
.customer87,
.customer88,
.customer89,
.customer90,
.customer91,
.customer92,
.customer93,
.customer94,
.customer95 {
  position: absolute;
  top: 805px;
  left: 0;
  background-color: var(--table-bg);
  width: 1695px;
  height: 44px;
  overflow: hidden;
}
.customer88,
.customer89,
.customer90,
.customer91,
.customer92,
.customer93,
.customer94,
.customer95 {
  top: 893px;
}
.customer89,
.customer90,
.customer91,
.customer92,
.customer93,
.customer94,
.customer95 {
  top: 981px;
}
.customer90,
.customer91,
.customer92,
.customer93,
.customer94,
.customer95 {
  top: 1069px;
}
.customer91,
.customer92,
.customer93,
.customer94,
.customer95 {
  top: 1157px;
}
.customer92,
.customer93,
.customer94,
.customer95 {
  top: 1245px;
}
.customer93,
.customer94,
.customer95 {
  top: 1333px;
}
.customer94,
.customer95 {
  top: 1421px;
}
.customer95 {
  top: 1509px;
}
.customer100,
.customer101,
.customer102,
.customer103,
.customer96,
.customer97,
.customer98,
.customer99 {
  position: absolute;
  top: 1597px;
  left: 0;
  background-color: var(--table-bg);
  width: 1695px;
  height: 44px;
  overflow: hidden;
}
.customer100,
.customer101,
.customer102,
.customer103,
.customer97,
.customer98,
.customer99 {
  top: 1685px;
}
.customer100,
.customer101,
.customer102,
.customer103,
.customer98,
.customer99 {
  top: 1773px;
}
.customer100,
.customer101,
.customer102,
.customer103,
.customer99 {
  top: 1861px;
}
.customer100,
.customer101,
.customer102,
.customer103 {
  top: 1949px;
}
.customer101,
.customer102,
.customer103 {
  top: 2037px;
}
.customer102,
.customer103 {
  top: 2125px;
}
.customer103 {
  top: 2213px;
}
.div919 {
  position: absolute;
  top: 201px;
  left: 508px;
  font-size: var(--font-size-lg);
  line-height: 16px;
  font-weight: 500;
  color: var(--color-darkgray-100);
}
.scroll-icon3 {
  position: absolute;
  height: 2.15%;
  width: 100%;
  top: 97.85%;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.checkbox107 {
  width: 16px;
  position: relative;
  border-radius: var(--br-9xs);
  background-color: var(--shades-white);
  box-shadow: var(--check-box-shaodw);
  border: 0.5px solid var(--input-form-default);
  box-sizing: border-box;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.no3 {
  position: relative;
  letter-spacing: 0.04em;
  line-height: 16px;
  text-transform: uppercase;
  font-weight: 600;
}
.no-wrapper1,
.wrapper21 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-8xs);
}
.wrapper21 {
  flex-direction: row;
  padding: var(--padding-3xs) var(--padding-2xs);
}
.div922,
.wrapper22 {
  display: flex;
  align-items: center;
}
.wrapper22 {
  width: 80px;
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-lg);
  box-sizing: border-box;
}
.div922 {
  width: 58px;
  position: relative;
  letter-spacing: 0.04em;
  line-height: 16px;
  text-transform: uppercase;
  font-weight: 600;
  flex-shrink: 0;
}
.wrapper23 {
  width: 80px;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-xs);
  box-sizing: border-box;
}
.wrapper23,
.wrapper24,
.wrapper25 {
  display: flex;
  flex-direction: row;
}
.wrapper24 {
  width: 170px;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-41xl);
  box-sizing: border-box;
}
.wrapper25 {
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-8xs);
}
.wrapper26 {
  align-items: center;
  padding: var(--padding-3xs) var(--padding-111xl);
}
.checkbox-parent1,
.wrapper26,
.wrapper28 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.wrapper28 {
  align-items: flex-start;
  padding: var(--padding-3xs) var(--padding-16xl);
  color: var(--dark-1);
}
.checkbox-parent1 {
  position: absolute;
  top: 12px;
  left: 12px;
  align-items: center;
  gap: var(--gap-xl);
}
.frame-child24 {
  position: absolute;
  top: -0.2px;
  left: 38.5px;
  border-right: 1px solid var(--shades-white);
  box-sizing: border-box;
  width: 1px;
  height: 61px;
}
.frame-child25,
.frame-child26,
.frame-child27,
.frame-child28,
.frame-child29,
.frame-child30,
.frame-child31,
.frame-child32 {
  position: absolute;
  top: -0.2px;
  left: 91.5px;
  border-right: 1px solid var(--shades-white);
  box-sizing: border-box;
  width: 1px;
  height: 61px;
}
.frame-child26,
.frame-child27,
.frame-child28,
.frame-child29,
.frame-child30,
.frame-child31,
.frame-child32 {
  left: 191.5px;
}
.frame-child27,
.frame-child28,
.frame-child29,
.frame-child30,
.frame-child31,
.frame-child32 {
  left: 291.5px;
}
.frame-child28,
.frame-child29,
.frame-child30,
.frame-child31,
.frame-child32 {
  left: 391.5px;
}
.frame-child29,
.frame-child30,
.frame-child31,
.frame-child32 {
  left: 581.5px;
}
.frame-child30,
.frame-child31,
.frame-child32 {
  left: 668.5px;
}
.frame-child31,
.frame-child32 {
  left: 1040.5px;
  height: 60px;
}
.frame-child32 {
  left: 1229.5px;
}
.frame-parent5 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--table-bg);
  width: 1354px;
  height: 60px;
  font-size: var(--font-size-base);
}
.customer-group {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--shades-white);
  overflow: hidden;
}
.button41 {
  flex: 1;
  position: relative;
  font-weight: 600;
}
.component-39,
.frame-parent4 {
  position: absolute;
  left: 0;
  border-radius: var(--br-3xs);
}
.component-39 {
  top: -47px;
  background-color: var(--primary-main);
  width: 100px;
  height: 39px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-mid) var(--padding-base);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--shades-white);
}
.frame-parent4 {
  height: 80.87%;
  width: 100%;
  top: 19.13%;
  right: 0;
  bottom: 0;
  background-color: var(--shades-white);
}
.div928 {
  position: relative;
  font-weight: 500;
}
.select8 {
  width: 107px;
  position: relative;
  letter-spacing: -0.02px;
  display: inline-block;
  flex-shrink: 0;
}
.vector-icon11 {
  width: 11.2px;
  position: relative;
  height: 6.6px;
}
.component-210 {
  border-radius: var(--br-5xs);
  background-color: var(--shades-white);
  border: 1px solid var(--input-form-completed);
  overflow: hidden;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-xs);
  gap: var(--gap-5xs);
}
.component-210,
.component-310,
.parent5 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.component-310 {
  width: 100px;
  border-radius: var(--br-3xs);
  background-color: var(--primary-main);
  height: 39px;
  justify-content: center;
  padding: var(--padding-mid) var(--padding-base);
  box-sizing: border-box;
  text-align: center;
  color: var(--shades-white);
}
.parent5 {
  position: absolute;
  top: 63px;
  left: 839px;
  justify-content: flex-start;
  gap: var(--gap-base);
  font-size: var(--font-size-sm);
  color: var(--color-dimgray);
}
.div929 {
  width: 74px;
  position: relative;
  font-weight: 600;
  display: inline-block;
  flex-shrink: 0;
}
.span6 {
  color: var(--color-dimgray);
}
.span7 {
  text-decoration: underline;
}
.div930 {
  position: relative;
  font-size: var(--font-size-sm);
  font-weight: 500;
  color: var(--input-form-error);
}
.parent6 {
  align-items: center;
  gap: var(--gap-5xs);
}
.component-1-container,
.frame-parent6,
.parent6 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.component-1-container {
  align-items: flex-start;
  gap: var(--gap-9xs);
  font-size: var(--font-size-base);
  color: var(--dark-1);
}
.frame-parent6 {
  position: absolute;
  height: 6.78%;
  width: 99.95%;
  top: 0;
  right: 0.03%;
  bottom: 93.22%;
  left: 0.03%;
  align-items: center;
  gap: 498px;
  font-size: var(--font-size-xl);
}
.view-no-results-child {
  position: absolute;
  height: 0.17%;
  width: 100.09%;
  top: 8.78%;
  right: -0.04%;
  bottom: 91.04%;
  left: -0.04%;
  border-top: 1px solid var(--input-form-default);
  box-sizing: border-box;
}
.view-no-results {
  width: 100%;
  position: relative;
  height: 575px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--dark-11);
  font-family: var(--font-pretendard);
}
